<!-- Aryan Kumar -->

<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>

	<div class="header">

		<div class="wrapper">

			<h1 class="branding-title"><a href="{{ url_for("carPage") }}">EZPZ Car Rental</a></h1>

			<ul class="nav">

		</div>

	</div>

	<div id="content">
	{% block body %}{% endblock %}
	</div>

	<div class="footer">

		<div class="wrapper">

			<p>&copy;{{ current_year }}EZPZ Car Rental</p>

		</div>

	</div>



</body>
</html>
